{% extends "base.html" %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
	<h3 align=center>Links</h3>
	<div style="padding: 20px; height: 500px;">
		<ul>
			<li><a href=https://sites.google.com/a/cgxchange.org/pniacaracterizacion/antecedentes target=_blank>Taller PNIA </a><br><br> </li>
			<li><a href=http://www.cipotato.org/ target=_blank>International Potato Center (CIP)</a><br><br> </li>
			<li><a href=http://euroblight.net/ target=_blank>Euroblight </a><br><br> </li>
		</ul>
	</div>
	</div>
</div>


{% endblock mainbody %}
