<!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAnHZdpfcRHoqDlSs6ois8USCD3qDL48_M"></script>-->
<!--<script src="//cdn.rawgit.com/noelboss/featherlight/1.3.3/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>-->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB-KZriOAGUmLwlGtgU9h-Xc1xMqwH11p4"></script>

<script>
      var script = '<script type="text/javascript" src="/static/js/markerclusterer';
      if (document.location.search.indexOf('compiled') !== -1) {
        script += '_compiled';
      }
      script += '.js"><' + '/script>';
      document.write(script);
</script>
<script>
// init global vars
var geoList = [];	//field dataset
var virusList = [];	//virus dataset
var fmap;			//field map
var vmap;			//virus map
var fmarkers = [];	//field markers
var vmarkers = [];	//virus markers
var fmarkerCluster = {};	//field cluster
var vmarkerCluster = {};	//virus cluster
var fprev_infowindow = false;	//field info window
var vprev_infowindow = false;	//virus info window

// load data using ajax through django template
function load_data() {
	$.ajax({
		//url: '{{ dbURL }}',
		url: '/{{ SUB_FDR }}/plist_samplefield/',
		async: false,
		dataType: 'json',
		success: function (data) {
			geoList = data;
		}
	});
}

function filter_data() {
    var geoListF = {};
    for(var fid in geoList) {
        var sampleList = geoList[fid]['samp'];
        var sampleListF = [];
        for(var i = 0; i < sampleList.length; i++) {
            var sequenced = sampleList[i][7];
            if (sequenced == 1) {
                sampleListF.push(sampleList[i]);
            }
        }

        if (sampleListF.length > 0) {
			geoListF[fid] = {};
            geoListF[fid]['attr'] = geoList[fid]['attr'];
            geoListF[fid]['samp'] = sampleListF;
        }
    }
    geoList = geoListF;
}


// initialize map for field & sample
function initialize_field_map(filters) {

	var myCenter=new google.maps.LatLng(-20,-65);
	var mapProp = {
		center:myCenter,
		zoom:3,
		mapTypeId:google.maps.MapTypeId.ROADMAP
	};
	
	fmap=new google.maps.Map(document.getElementById("fieldMap"),mapProp);
	fmarkers = setMarkers(fmap, geoList, filters); 	
	fmarkerCluster = new MarkerClusterer(fmap, fmarkers); 
}

// set field markers
function setMarkers(map, geoList, filters){

	var marker;
	var markers = []; 

	for (var name in geoList) {
		
		var filtered =0;
		
		for(var key in filters) {				
	        if(geoList[name]['attr'][key] === undefined || geoList[name]['attr'][key] != filters[key]) { filtered += 0; }
		    else  filtered += 1;
		}
		 
	//	if (filtered>0){

			var lat = geoList[name]['attr'][5];
			var lng = geoList[name]['attr'][6];
			var latlngset = new google.maps.LatLng(lat, lng);
	 		var marker = new google.maps.Marker({  
	          	map: map, 
				title: name, 
				position: latlngset
	        	});
			markers.push(marker);
	        marker.setMap(map);

			// code for display field info in info window
			var fieldInfo = "Campo ID: <a href=pflist?fid="+name+">"+ geoList[name]['attr'][0] +"</a>";
				fieldInfo += "<br />Departamento: " + geoList[name]['attr'][1];
				fieldInfo += "<br />Provincia: " + geoList[name]['attr'][2];
				fieldInfo += "<br />Distrito: " + geoList[name]['attr'][3];
				fieldInfo += "<br />Localidad: " + geoList[name]['attr'][4];
				fieldInfo += "<br />Altitud: " + geoList[name]['attr'][7] + " m.";

			var sampleList = geoList[name]['samp'];
			google.maps.event.addListener(marker,'click', (function(marker, fieldInfo, sampleList){ 
	        			return function() {
						if (fprev_infowindow) {
							fprev_infowindow.close();
						}	
						var infowindow = new google.maps.InfoWindow({ content: fieldInfo});
						infowindow.open(map,marker);
						fprev_infowindow = infowindow;
						
	        			};
	    	})(marker,fieldInfo, sampleList)); 
		//} 
	}
	return markers;
}

$(function() {
	/* Load field & sample GPS and virus related GPS */
	load_data();
	
	virusList = geoList;

	/* generate selection form for virus name and family */
    var sel_vname_html = '';
    var sel_vfamily_html = '';
    var sel_vname_uniq = {};
    var sel_vfamily_uniq = {};
	var sname_sort = [];
	var family_sort = [];
    for (var vid in virusList) {
        var sname = virusList[vid]['attr'][10];
        var family = virusList[vid]['attr'][1]; 

        if (!(sname in sel_vname_uniq)) {
			sname_sort.push(sname);
			sel_vname_uniq[sname] = sname;
        }

        if (!(family in sel_vfamily_uniq)) {
			family_sort.push(family);
            sel_vfamily_uniq[family] = family;
        } 
    } 
    var filters = [] //crear los filter de acuerdo a los changes del combo y pasarlo an inicialize o creat un update
initialize_field_map();
	sname_sort.sort();
	family_sort.sort(); 


})

</script>
