{% extends "base.html" %}
{% load staticfiles %}


{% block mainbody %}

            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Caracterización de poblaciones de <i>Phytophythora infestans</i> y <i>Ralstonia solanacearum</i> en tres regiones agroecológicas del Perú y fortalecimiento de las capacidades del INIA para el monitoreo continuo de los principales patógenos de la papa</h3>
                 </div>
             </div>
             <div class="text-center">
					<br>
					<img class="rounded mx-auto d-block" src="{% static "images/tallerpnia.png" %}">
					<br> Taller 2016
					<br><br><br>
			</div>
			<div class="row">
                <div class="col-lg-12">
					<h4>Objetivos</h4>
					<br>
					1. Mapeo de áreas de cultivo de papa con presencia de P. infestans y R. solanacearum
					<br>
					2. Determinar la estructura poblacional de P. infestans y de R. solanacearum en las áreas muestreadas.
					<br>
					3. Identificación de especies cultivadas y/o silvestres que actúan como hospedantes alternos de P. infestans
					<br>
					4. Capacitar a profesionales de instituciones nacionales en técnicas de colección, aislamiento, caracterización de P. infestans y R. solanacearum.
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <br>
            <br>
            <!-- /.row -->

{% endblock %}
