{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<style type="text/css">
  .stroke {
    -webkit-text-fill-color:yellow;
    -webkit-text-stroke: 1px black;
    -font-size: 25px;
  }
</style>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pathogens</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootag/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
     <link href="{% static 'bootag/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'bootag/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootag/css/landing-page.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message">
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="dtablep.html"  class="btn btn-secondary btn-lg">
                <i class="fa fa-leaf fa-fw"></i>
                <span class="network-name"><i>P. infestans</i></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="dtabler.html"  class="btn btn-secondary btn-lg">
                <i class="fa fa-leaf fa-fw"></i>
                <span class="network-name"><i>R. solanacearum</i></span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="dtablev.html"  class="btn btn-secondary btn-lg">
                <i class="fa fa-leaf fa-fw"></i>
                <span class="network-name"><i>Virome</i></span>
              </a>
            </li>
          </ul>

          <hr class="intro-divider"><br><
          <h3 class="stroke" >CIP - PNIA</h3><br>
          <h2 class="stroke" >Database of the main pathogens detected, identified</h2>
          <h2 class="stroke" >and characterized in the potato crop in Peru</h2>
<!--           <h2>Characterization of populations</h2>
          <h2>of the main potato pathogens in Peru</h2> -->
          
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-10 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <p class="lead">
            <i>Phytophthora infestans</i> and <i>Ralstonia solanacearum</i> affect numerous crops of economic importance worldwide. In Peru, these pathogens are the main phytosanitary problems associated with potato. On the other hand, viruses affect potato crops, so the results generated in the detection of these viruses will allow to better understand the diversity of viruses.
	    <br>
	    Results for  <a href="{% static 'papers/Flyer2.pdf' %}" target=_blank><i>Ralstonia solanacearum</i></a>, <a href="{% static 'papers/Flyers.pdf' %}" target=_blank><i>Phythopthora infestans</i></a> and <a href="{% static 'papers/Flyer3.pdf' %}" target=_blank>results for Virome and capacity building</a>
            </p>
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading"><i>Phytophthora infestans</i></h2>
            <p class="lead">
             Late blight (Tizón tardio TT) caused by <i>P. infestans</i> is the most destructive potato disease in the world and is consider a very strong plant disease.
             <br>
             <a href="pabout.html">See more</a>
			</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="{% static 'images/phyto.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Virome</h2>
            <p class="lead">
            Detection and identification of known or unknown viruses allows us to better understand the diversity and distribution of viruses and their correlation with potato production in Peru.
             <br>
             <!-- <a href="vabout.html">See more</a> -->
	     <a href="dtablev.html">Check data</a><br>
	     <a href="vresults.html">Check project results</a>
	    </p>
          </div>
          <div class="col-lg-5 mr-auto ">
         	 <img class="rounded mx-auto d-block img-fluid" src="{% static 'images/sRSAimage1.jpg' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading"><i>Ralstonia solanacearum</i></h2>
            <p class="lead">
              Bacterial wilt (marchitez bacteriana MB) caused by <i>R. solanacearum</i> produces large losses worldwide due to the variability of the pathogen, wide range of hosts and large geographical distribution.

              <br>
              <a href="rabout.html">See more</a>
      </p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="{% static 'images/marchitez.jpg' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2></h2>
          </div>
          <div class="col-lg-8 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="dtablep.html" class="btn btn-secondary btn-lg">
                  <i class="fa fa-leaf fa-fw"></i>
                  <span class="network-name"><i>P. infestans </i></span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="dtabler.html" class="btn btn-secondary btn-lg">
                  <i class="fa fa-leaf fa-fw"></i>
                  <span class="network-name"><i>R. solanacearum</i></span>
                </a>
              </li>
              <li class="list-inline-item">
              <a href="dtablev.html"  class="btn btn-secondary btn-lg">
                <i class="fa fa-leaf fa-fw"></i>
                <span class="network-name"><i>Virome</i></span>
              </a>
            </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">

        <p class="copyright text-muted small">Copyright &copy; CIP - PNIA 2018. All Rights Reserved</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootag/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootag/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'bootag/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootag/popper.min.js' %}"></script>
    <script src="{% static 'bootag/stylish-portfolio.js' %}"></script>
  </body>

</html>
