{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PNIA</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootag/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
     <link href="{% static 'bootag/stylish-portfolio.css' %}" rel="stylesheet">
    <link href="{% static 'bootag/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'bootag/css/landing-page.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
            <a href="index.html" class="js-scroll-trigger" >Home</a>
        </li>
        <li>
            <a href="participant.html" class="js-scroll-trigger" > About us<span class="fa arrow"></span></a>
        </li>
        <li>
            <a href="rabout.html" class="js-scroll-trigger" ><i> R. solanacearum</i><span class="fa arrow"></span></a>
        </li>
         <li>
            <a href="pabout.html" class="js-scroll-trigger" ><i> P. Infestans</i><span class="fa arrow"></span></a>
        </li>
       <li>
            <a href="contact.html" class="js-scroll-trigger" > Contact Us </a>
        </li>
      </ul>
    </nav>

    <!-- Navigation -->
<!--     <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->

    <!-- Header -->
    <header class="intro-header">
      <div class="container">
        <div class="intro-message"><br><br><br><br><br>
          <h1>.</h1>
          <ul class="list-inline intro-social-buttons">
            <li class="list-inline-item">
              <a href="pabout.html"  class="btn btn-secondary btn-lg">
                <i class="fa fa-leaf fa-fw"></i>
                <span class="network-name">P. infestans</span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="rabout.html"  class="btn btn-secondary btn-lg">
                <i class="fa fa-leaf fa-fw"></i>
                <span class="network-name">R. solanacearum</span>
              </a>
            </li>
          </ul>
          <hr class="intro-divider">
          <h1>PNIA project</h1>
          <h3>028-2015-PNIA/UPMSI/IE</h3>
        </div>
      </div>
    </header>

    <!-- Page Content -->
    <section class="content-section-a">

      <div class="container">
        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">PNIA project</h2>
            <p class="lead">
            Caracterización de poblaciones de <i>Phytophythora infestans</i> y <i>Ralstonia solanacearum</i> en tres regiones agroecológicas del Perú y fortalecimiento de las capacidades del INIA para el monitoreo continuo de los principales patógenos de la papa
            </p>
          </div>
          <div class="col-lg-5 mr-auto">
            <img class="img-fluid" src="{% static 'bootag/img/potato-banner.jpg' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 mr-auto order-lg-2">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Objetivos</h2>
            <p class="lead">
					1. Mapeo de áreas de cultivo de papa con presencia de P. infestans y R. solanacearum
					<br>
					2. Determinar la estructura poblacional de P. infestans y de R. solanacearum en las áreas muestreadas.
					<br>
					3. Identificación de especies cultivadas y/o silvestres que actúan como hospedantes alternos de P. infestans
					<br>
					4. Capacitar a profesionales de instituciones nacionales en técnicas de colección, aislamiento, caracterización de P. infestans y R. solanacearum.
			</p>
          </div>
          <div class="col-lg-5 ml-auto order-lg-1">
            <img class="img-fluid" src="{% static 'bootag/img/phyto.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-a">

      <div class="container">

        <div class="row">
          <div class="col-lg-5 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">Training session</h2>
            <p class="lead">
            Taller de Capacitación sobre colección, aislamiento y caracterización de Phytophthora infestans y Ralstonia solanacearum. <a href="https://sites.google.com/a/cgxchange.org/pniacaracterizacion/">Ver</a><br><br>
			<b>17 al 21 Octubre de 2016 <br> Lima, Perú</b><br><br>
			</p>
          </div>
          <div class="col-lg-5 mr-auto ">
         	 <img class="rounded mx-auto d-block img-fluid" src="{% static 'images/tallerpnia.png' %}" alt="">
          </div>
        </div>

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">

      <div class="container">

        <div class="row">
          <div class="col-lg-6 my-auto">
            <h2>PNIA project</h2>
          </div>
          <div class="col-lg-6 my-auto">
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="pabout.html" class="btn btn-secondary btn-lg">
                  <i class="fa fa-leaf fa-fw"></i>
                  <span class="network-name">P. infestans </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="rabout.html" class="btn btn-secondary btn-lg">
                  <i class="fa fa-leaf fa-fw"></i>
                  <span class="network-name">R. solanacearum</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">

        <p class="copyright text-muted small">Copyright &copy; PNIA 2017. All Rights Reserved</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'bootag/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootag/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'bootag/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootag/popper.min.js' %}"></script>
    <script src="{% static 'bootag/stylish-portfolio.js' %}"></script>
  </body>

</html>
