{% extends "base.html" %}
{% load staticfiles %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 align=center>Project Participants</h3>
	</div>
	<div class="col-md-6 col-md-offset-3">
		<h4><b><font color=brown>PIs</font></b></h4>
	</div>
</div>

<br/>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<address>
			<img src="{% static "img/Kreuze.png" %}"><br>
			<strong>Hannele Lindqvist Kreuze (PI)</strong><br>
			International Potato Center (CIP)<br>
			Lima, Peru
  			<a href=https://cipotato.org target=_blank>Website</a>
		</address>
    </div>
	<div class="col-md-3">
		<address>
			<img src="{% static "img/Kreuze.png" %}"><br>
			<strong>Soledad Gamboa</strong> <br>
			International Potato Center (CIP)<br>
			Lima, Peru
		</address>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4><b><font color=brown>Collaborators</font></b></h4>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<div>
	    <table>
	    	<tr>
	    	<img src="{% static "images/BM.png" %}"><br><br>
	    	</tr>
	    	<tr>
	    	<img src="{% static "images/cip.jpg" %}"><br><br><br>
	    	</tr>
	    	<tr>
	    	<img src="{% static "images/pnia.jpg" %}"><br><br>
	    	</tr>
	    	<tr>
	    	<img src="{% static "images/inia.jpg" %}"><br><br>
	    	</tr>
	    </table>
    	</div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<br>
{% endblock mainbody %}
