{% extends "base.html" %}
{% load staticfiles %}

{% block mainbody %}

<div class="row">
	<div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="section-heading">Participantes del proyecto</h2>
	</div>
</div>
<br>
<br>

        <div class="row justify-content-around">
          <div class="col-lg-6 mr-auto text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Hannele.png' %}" alt="">
          </div>
          <div class="col-lg-6 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Hannele Lindqvist-Kreuze, PhD </h3>
            <p class="text-muted">
            h.lindqvist-kreuze@cgiar.org <br>
            Científica del Centro Internacional de la Papa (CIP). Trabaja en el área de Genética, Genómica y Mejoramiento de Cultivos. Especializada en la resistencia genética de la papa al tizón tardío e interacción planta-patógeno. 
            
            </p>
          </div>
          
        </div>
<br><br>
<br>
<br>
        <div class="row">
          <div class="col-lg-6 mr-auto order-lg-2 col-md-offset-0 text-right">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Soledad Gamboa, Bióloga</h3>
            <p class="text-muted">
            s.gamboa@cgiar.org<br>
            Investigadora Asociada del Centro Internacional de la Papa (CIP). Trabaja en el área de Patología molecular en caracterización de aislamientos de <i>P. infestans</i>  e interacción planta-patógeno. 
           </p>
          </div>
          <div class="col-lg-6 ml-auto order-lg-1 text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Soledad.png' %}" alt="">
          </div>
        </div>

<br>
<br><br>
<br>

        <div class="row justify-content-around">
          <div class="col-lg-6 mr-auto text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Wilmer.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Willmer Perez, M.Sc. </h3>
            <p class="text-muted">
            w.perez@cgiar.org<br>
            Investigador Asociado senior del Centro Internacional de la Papa (CIP). Trabaja en el área de Intensificación de Sistemas de Cultivos y Cambio Climático. Especializado en Micología y Manejo Integrado del Tizón Tardío.
 

            </p>
          </div>
          
        </div>
<br><br>
<br>
<br>
        <div class="row">
          <div class="col-lg-6 mr-auto order-lg-2 col-md-offset-0 text-right">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Liliam Gutarra, Ing. Agrónomo </h3>
            <p class="text-muted">l.gutarra@cgiar.org
<br>Investigador Asociado en el Centro Internacional de la Papa (CIP). Trabaja principalmente en la identificación de componentes del control integrado de la marchitez bacteriana de la papa, en el área de bacteriología.   

           </p>
          </div>
          <div class="col-lg-6 ml-auto order-lg-1 text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Liliam.jpeg' %}" alt="">
          </div>
        </div>


<br>
<br><br>
<br>

        <div class="row justify-content-around">
          <div class="col-lg-6 mr-auto text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Myriam.jpeg' %}" alt="">
          </div>
          <div class="col-lg-6 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Myriam Izarra, Bióloga </h3>
            <p class="text-muted">
m.izarra@cgiar.org<br>
Asistente de Investigación Junior del Centro Internacional de la Papa. Trabaja en el área de Genética, Genómica y Mejoramiento de Cultivos. Especializada en el estudio de efectores de Phytophthora infestans y detección molecular de contaminantes bacterianos de cultivos in vitro de camote.

            </p>
          </div>
          
        </div>
<br><br>
<br>
<br>
        <div class="row">
          <div class="col-lg-6 mr-auto order-lg-2 col-md-offset-0 text-right">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Cinthya Zorrilla Cisneros, PhD </h3>
            <p class="text-muted">
czorrilla@inia.gob.pe<br>
Directora de la Sub Dirección de Recursos Genéticos del INIA. Con experiencia en áreas de conservación de la biodiversidad, recursos genéticos, biotecnología, mejoramiento genético, genética cuantitativa, transformación y expresión genética.. 


           </p>
          </div>
          <div class="col-lg-6 ml-auto order-lg-1 text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Cinthya.jpg' %}" alt="">
          </div>
        </div>


<br>
<br><br>
<br>

        <div class="row justify-content-around">
          <div class="col-lg-6 mr-auto text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Elizabeth.jpg' %}" alt="">
          </div>
          <div class="col-lg-6 ml-auto">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Elizabeth Fernandez Huaytalla, M.Sc. </h3>
            <p class="text-muted">

efernandezh@inia.gob.pe<br>
Asistente de la Sub dirección de Rcursos Geneticos del INIA.Investigadora en temas de Biotecnología, Biología molecular y Bioinformática. Actualmente trabajo en la caracterización de especies domesticadas (recursos fitogenéticos y zoogenéticos) para su conservación.


            </p>
          </div>
          
        </div>
<br><br>
<br>
<br>
        <div class="row">
          <div class="col-lg-6 mr-auto order-lg-2 col-md-offset-0 text-right">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h3 class="section-heading">Aura Liz Garca Serquen, Bióloga </h3>
            <p class="text-muted">
alizgarcia.rg@gmail.com<br>
Asistente de Investigación, INIA.  Coordinadora del área de conservación de microorganismos de importancia para la agricultura y diversidad asociada



           </p>
          </div>
          <div class="col-lg-6 ml-auto order-lg-1 text-center align-self-end">
            <img class="img-fluid" src="{% static 'images/Liz.jpg' %}" alt="">
          </div>
        </div>



 <br><br><br>


<br><br><br>
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <h2 class="section-heading">Colaboradores</h2>
    </div>

</div>
<br>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
		<div>
	    <table>
	    	<tr>
	    	<img src="{% static "images/BM.png" %}"><br><br>
	    	</tr>
	    	<tr>
	    	<img src="{% static "images/cip.jpg" %}"><br><br><br>
	    	</tr>
	    	<tr>
	    	<img src="{% static "images/pnia.jpg" %}"><br><br>
	    	</tr>
	    	<tr>
	    	<img src="{% static "images/inia.jpg" %}"><br><br>
	    	</tr>
	    </table>
    	</div>
    </div>
    <div class="col-md-3">
    </div>
</div>
<br>
{% endblock mainbody %}
