{% extends "base.html" %}
{% load staticfiles %}

{% block mainbody %}

<br>
<br>
<h4>Laboratory Manual for <i>Phytophthora infestans</i> work at CIP</h4><br>
<br />
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="{% static 'vendor/ManualLaboratory_PI.pdf' %}"></iframe>
</div>
<br />
<br />
<h4>Publicaciones de <i>R. solanacearum</i>  </h4><br>
<br />

<li>Chavez et al. <a href="{% static 'vendor/Precision Agriculture v13pp 236-255.pdf' %}" target=_blank>
Detection of bacterial wilt infection caused by <i>Ralstonia solanacearum</i> in potato (<i>Solanum tuberosum</i> L.) through multifractal analysis applied to remotely sensed data.
</a> Precision Agric (2012) 13:236–255</li><br>

<li>Priou et al. <a href="{% static 'vendor/Bacterial Wilt Newsletter (16)pp 10-13.pdf' %}" target=_blank>
Sensitive detection of <i>Ralstonia solanacearum</i> (race 3) in soil by post-enrichment DAS-ELISA.
</a> CIP Lima, Peru</li><br>

<li>Priou et al. <a href="{% static 'vendor/Plant Pathology v59pp 59-67.pdf' %}" target=_blank>
Detection of <i>Ralstonia solanacearum</i> (biovar 2A) in stems of symptomless plants before harvest of the potato crop using post-enrichment DAS-ELISA.
</a> Plant Pathology (2010) 59, 59–67</li><br>

<li>Priou et al. <a href="{% static 'vendor/EPPO Bulletin v29pp 117-125.pdf' %}" target=_blank>
Highly sensitive detection of <i>Ralstonia solanacearum</i> in latently infected potato tubers by post-enrichment enzyme-linked immunosorbent assay on nitrocellulose membrane 
</a> CIP Lima, Peru</li><br>

<li>Priou et al. <a href="{% static 'vendor/Potato Research v44(4)pp 349-358.pdf' %}" target=_blank>
Optimisation of sample size for the detection of latent infection by <i>Ralstonia solanacearum</i> in potato seed tubers in the highlands of Peru 
</a> Potato Research 44 (2001) 349- 358</li><br>

<li>Priou et al. <a href="{% static 'vendor/Plant Pathology v55pp 36-45.pdf' %}" target=_blank>
Blackwell Publishing, Ltd. An improved enrichment broth for the sensitive detection of <i>Ralstonia solanacearum</i> (biovars 1 and 2A) in soil using DAS–ELISA
</a> Plant Pathology (2006) 55, 36–45</li><br>


{% endblock %}
