{% load staticfiles %}

{% block mainbody %}
<div id="container" style="margin-left:45px;">
<br>
<h3 align="center">Download Virus Detect for  Windows</h3>
<br>
<h4>Installer</h4><br>
<li><a href="{% static 'papers/VirusDetectWin.zip' %}" target=_blank>
		Virus Detect Windows version</i>
	</a></li>
	<br /><p>
	<h5>Dependencies:</h5>
	Windows 10 64bits<br>
	Java 1.8<br><br>
	</p>
	<h4>Manual</h4><br>
	<li><a href="{% static 'papers/VDW_Manual.pdf' %}" target=_blank>
			VDW Manual</i>
	</a></li>
		<br />
		<br />
<br>
</div>
{% endblock %}

